.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .form-table {
    margin-top: 40px; /* Adjust the value to create the desired space */
    background-color: #fff; /* Add other styling as needed */
  }
  